
<h2>Introduction</h2>
<div>Visual Basic Script (VBScript) is a simple yet powerful computer programming language which has been available since Windows XP.</div>
<div><br>
</div>
<div>It can be run just by creating a text file ending in the .vbs file extension and double-clicking on it or running the command line version by using a command such as 'cscript fred.vbs'.</div>
<div><br>
</div>
<div>As well as JScript, VBScript code can also be used within HTML and HTML Application files (*.hta).</div>
<div><br>
</div>
<div>SysInfo2.hta will display a Windows system's hardware and software details.</div>
<div><br>
</div>
<div>It also allows you to email the results to anyone else using Google's Gmail server.</div>
<div><br>
</div>
<h2>Features</h2>
<div>
<div style="color:rgb(0,0,0);font-size:13.3333px">1. Find the native screen resolution of your display (useful for TFT monitors) + lists screen size and resolution and monitor serial number, etc.</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">2. List PCI IDs and native Windows + 3rd party drivers</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">3. List installed software, disk volumes sizes and free space, HDD make and models, etc.</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">4. List Event log errors for last 7 days (filtered by type and date)</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">5. Lists Nic Ethernet connection speed, MAC addresses, IP addresses</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">6. Lists Memory modules, filled and available slots, DIMM Serial numbers (if Win7/SVR2K8R2 or later)</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">7. Lists SMBIOS/DMI mainboard values</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">8. List 'Problem devices and drivers'</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">9. Get same information on any system on the network (provided you have Admin access and they have been set up correctly - see form for details).</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">10. Send report email -<span style="font-size:13.3333px;background-color:transparent">&nbsp;uses a gmail server (gmail account required).</span></div>
<div style="color:rgb(0,0,0);font-size:13.3333px">11. Export report to a file</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">12. List Hotfixes</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">13. Startup programs</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">14. Printers (inc. which one is the default)</div>
<div style="color:rgb(0,0,0);font-size:13.3333px">15. Graphics adapter and current resolution</div>
</div>
<div><br>
</div>
<h2>Requirements</h2>
<div>
<ul><li>A Windows XP or later system (cannot be run from WinPE environments, use WindowsToGo if you do not have a bootable Windows OS)</li>
<li>A Gmail account (optional)</li>
<li>To use Gmail, the target system must have internet access.</li></ul>
</div>
<h2>Method</h2>
<div><br>
</div>
<div>If you wish to see a full report, say Yes to the prompt.</div>
<div>
<div style="font-size:13.3333px">You can save the report to a file afterwards.</div>
</div>
<div><br>
</div>
<div>If you wish to email the report, click on the 'Email this computer information' and enter the Gmail sender account, password for the Gmail account and the destination email address.</div>
<div><br>
</div>
<h3>Email Configuration</h3>
<div><span style="color:rgb(0,0,0);font-size:13.3333px">SysInfo2.hta allows you to use a gmail account to email the report to anyone else (or to your own email address).</span><br style="color:rgb(0,0,0);font-size:13.3333px">
<span style="color:rgb(0,0,0);font-size:13.3333px">You can send from a Gmail account to any other email address by using the Gmail server.</span><br style="color:rgb(0,0,0);font-size:13.3333px">
<div style="color:rgb(0,0,0);font-size:13.3333px">
<div>I suggest you create a new Gmail account and then scroll down in your Google account options page and set it for '<a href="https://support.google.com/accounts/answer/6010255?hl=en" style="color:rgb(85,26,139)">Allow less secure apps</a>' - it will not work unless the account is set for less secure apps!</div>
<div><br>
</div>
<div>
<div style="display:block;text-align:left"><a href="https://sites.google.com/a/rmprepusb.com/www/tutorials/sysinfo/LessSecureApps.JPG?attredirects=0" imageanchor="1"><img border="0" src="https://sites.google.com/a/rmprepusb.com/www/tutorials/sysinfo/LessSecureApps.JPG"></a></div>
</div>
<div><br>
Use 'Allow less secure apps' if you see this error!<br>
<div class="sites-codeblock sites-codesnippet-block"><code>---------------------------</code><br>
<code>ERROR -2147220975: The message could not be sent to the SMTP server. The transport error code was 0x80040217. The server response was not available</code><br>
<code>--------------------------</code></div>
<br>
Change the three variables in SysInfo2.hta as required.&nbsp;</div>
<div>By default you will be prompted each time for all three values. I suggest setting <b>esend </b>and <b>edest</b> so that you only have to type in your gmail password when you want to send a report.</div>
<div><br style="font-size:13.3333px">
<div style="font-family:Times New Roman;font-size:medium">
<p style="margin:0px"><font color="#0000ff" face="&quot;courier new&quot; , &quot;courier&quot; , monospace" size="1">' --------- EMAIL VARIABLES - must be set for your own acccount -------------</font></p>
</div>
<div style="font-family:Times New Roman;font-size:medium">
<div>
<p style="margin:0px"><font color="#0000ff" face="&quot;courier new&quot; , &quot;courier&quot; , monospace" size="1"><br>
</font></p>
</div>
<div>
<p style="margin:0px"><font color="#0000ff" face="&quot;courier new&quot; , &quot;courier&quot; , monospace" size="1">' leave password as "" if you want to always specify the password yourself for security</font></p>
</div>
<div>
<p style="margin:0px"><font color="#0000ff" face="&quot;courier new&quot; , &quot;courier&quot; , monospace" size="1">esend = ""<font style="white-space:pre"> </font>'e.g. &nbsp;"xxxxxxx@gmail.com"<font style="white-space:pre"> </font>must be gmail account - you must set 'less secure apps' on the Google account or else get ERROR -2147220975</font></p>
</div>
<div>
<p style="margin:0px"><font color="#0000ff" face="&quot;courier new&quot; , &quot;courier&quot; , monospace" size="1">epwd = ""<font style="white-space:pre"> </font>'gmail account password - can leave blank as ""</font></p>
</div>
<div>
<p style="margin:0px"><font color="#0000ff" face="&quot;courier new&quot; , &quot;courier&quot; , monospace" size="1">edest = ""<font style="white-space:pre"> </font>'default destination email account - change or leave blank - you will always be prompted</font></p>
</div>
</div>
<div style="font-family:Times New Roman;font-size:medium"></div>
<div style="font-size:13.3333px"><font face="'courier new', monospace"><br>
</font></div>
<div style="font-size:13.3333px">e.g.</div>
</div>
</div>
<div style="color:rgb(0,0,0);font-size:13.3333px"><font color="#0000ff">esend = "steves_unsecure_gmail@gmail.com"</font></div>
<div style="color:rgb(0,0,0);font-size:13.3333px"><font color="#0000ff">epwd = ""</font></div>
<div style="color:rgb(0,0,0);font-size:13.3333px"><font color="#0000ff">edest = "steves_email@gmail.com"</font></div>
</div>
<div><br>
</div>
<h3>Get reports from any system on the domain</h3>
<div>Provided you have Administrator access, you can get a report from any system on the domain by using the fields at the bottom of the form.</div>
<div><br>
</div>
<div>
<div style="display:block;text-align:left"><a href="https://sites.google.com/a/rmprepusb.com/www/tutorials/sysinfo/SysInfo2B.JPG?attredirects=0" imageanchor="1"><img border="0" src="https://sites.google.com/a/rmprepusb.com/www/tutorials/sysinfo/SysInfo2B.JPG"></a></div>
<br>
</div>
<div><br>
</div>
<h2>Results</h2>
<div>I suggest you run the SysInfo2.hta file to see what results you get!</div>
<div><br>
</div>
<div>
<div style="display:block;text-align:left"><a href="https://sites.google.com/a/rmprepusb.com/www/tutorials/sysinfo/HP_G62.png?attredirects=0" imageanchor="1"><img border="0" src="https://sites.google.com/a/rmprepusb.com/www/tutorials/sysinfo/HP_G62.png"></a></div>
</div>
<div style="display:block;text-align:left"><br>
</div>
<div style="display:block;text-align:left">Note that many of the hardware results are obtained by using WMI to query the BIOS. This means that the values returned rely on the BIOS returning the correct results.</div>
<div style="display:block;text-align:left">Unfortunately, this cannot always be relied upon. It is common for the BIOS vendor, system manufacturer or system builder to be sloppy or make errors.</div>
<div style="display:block;text-align:left">For instance, the number of DIMM slots may not always be correct if the BIOS was not correctly written for that particular system.</div>
<div style="display:block;text-align:left"><br>
</div>
<div style="display:block;text-align:left">For more information about SysInfo see my other website <a href="https://sites.google.com/site/codeshop99/home/hta/sysinfo" target="_blank">here</a>.</div>
<div style="display:block;text-align:left"><br>
</div>
<div><br>
</div>
<div><br>
</div>
